body {
    background-image: url('images/Blend.png');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
}


.hidden {
    display: none;
}

.cart-display {
    width: 30%;
    margin-left: 65%;
    margin-right: 30%;
    margin-bottom: 5%;
}

#cart-side-page {
    margin: 20px 0;
    float: right;
    width: 350px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
}

