body {
    background-image: url('images/Blend.png');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
}

#checkout-container-form {
    color: whitesmoke;
    font-weight: bold;
}

.hidden {
    display: none;
}

.cart-display {
    width: 30%;
    margin-left: 65%;
    margin-right: 30%;
    margin-bottom: 5%;
}

#cart-side-page {
    margin-left: 65%;
    margin-right: 30%;
    margin-bottom: 5%;
    position: relative;
    width: 30%;
    color: white;
    font-weight: bold;
    line-height: 1.6;
    background-color: black;
    opacity: 90%;
}