body {
    background-image: url('images/Blend.png');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
}

ul {
    list-style-type: none;
    padding: 10;
    position: relative;
    align-items: center;
  }

li {
    list-style-type: none;
    position: relative;
    align-content: space-around;
    
}

span {
    align-content: center;
}

.hidden {
    display: none;
}

.cart-display {
    width: 30%;
    margin-left: 65%;
    margin-right: 30%;
    margin-bottom: 5%;
}